.main {
    position: relative;
    .content {
        padding-top: 120px;
        display: flex;
        height: 100vh;
        align-items: center;
        &__title {
            color: var(--title-color);
            font-family: 'Poppins';
            font-size: 120px;
            font-weight: 700;
            line-height: 120px;
            // display: inline-block;
        }
        &__word {
            color: var(--title-color);
            font-family: 'Poppins';
            font-size: 120px;
            font-weight: 700;
            position: relative;
            line-height: 90px;
            display: none;
            &--visibility {
                display: inline-block;
            }
            &::after {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                background-color: var(--site-color);
                border-radius: 50%;
                bottom: 0;
                right: -25px;
            }
        }
        &__subtitle {
            max-width: 790px;
            margin: 50px 0 35px;
        }
        &__btn {
            border: 2px solid var(--site-color);
            border-radius: 50px;
            height: 70px;
            line-height: 70px;
            display: inline-block;
            padding: 0 35px;
            color: var(--title-color);
            text-transform: uppercase;
            transition: .3s;
            &:hover {
                background-color: var(--title-color);
                color: var(--site-color);
            }
        }
    }
}